<style>
	#section-{{ section.id }} {
		background-color: {{ section.settings.background-color }};
		color : {{ section.settings.color }};
	}
	#section-{{ section.id }} .anchor-link{
		color : {{ section.settings.color }};
	}

	#section-{{ section.id }} .anchor-link:hover{
		background-color: {{ section.settings.hover-background-color }};
		color : {{ section.settings.hover-color }};
	}
</style>
<section class="Section anchor-menu sticky" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="anchor-menu">
	<div class="anchor-menu_container">
		{% for block in section.blocks %}
			{% if block.settings.anchor != blank %}
				<a href="{{ block.settings.anchor }}" data-anchor="{{ block.settings.anchor }}" class="anchor-link scroll-to">
					{{ block.settings.title }}
				</a>
			{% else %}
				<a class="anchor-link" href="{{ block.settings.link }}">
					{{ block.settings.title }}
				</a>
			{% endif %}
		{% endfor %}
	</div>
</section>
