<style>
    #section-{{ section.id }} .rich-text-title{
      font-size: {{ section.settings.title-size }}px;
      margin-bottom: 0;
    }

    #section-{{ section.id }} .rich-text-subtitle{
      font-size: {{ section.settings.subtitle-size }}px;
      color: {{ section.settings.subtitle-color }}
    }
//
</style>

{% comment %}
  Snippet can be used in section or blocks
  eg. {% include 'include-featured-text' %}
{% endcomment %}

{% if type == 'block' %}
  {% assign object = block %}
{% else %}
  {% assign object = section %}
{% endif %}

<!-- section anchor-->
{% if section.settings.anchor != blank %}
  <span class="anchor" id="{{ section.settings.anchor }}"></span>
{% endif %}  

<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="rich-text">
  <div class="container">
    <div class="sixteen columns">
      <div class="homepage_content section clearfix">
        {% if object.settings.image %}
          {{ object.settings.image | img_url: '1180x', scale: 2 | img_tag: object.settings.image.alt, 'lazyload lazyload--fade-in richtext-logo align_center' }}
        {% endif %}

        {% if object.settings.title != blank %}
          <h2 class="title rich-text-title">
            {{ object.settings.title | escape }}
          </h2>
          <!-- <div class="feature_divider {{ object.settings.text_alignment }}"></div> -->
        {% endif %}
        {% if object.settings.subtitle != blank %}
          <h3 class="title rich-text-subtitle text-align--center">
            {{ object.settings.subtitle | escape }}
          </h3>
          <!-- <div class="feature_divider {{ object.settings.text_alignment }}"></div> -->
        {% endif %}


        <div class="{{ object.settings.text_size }} {{ object.settings.text_alignment }}">
          {% if object.settings.content != blank %}
            {{ object.settings.content }}
          {% endif %}

          {% if object.settings.button_label != blank %}
            <a href="{{ object.settings.button_link }}" class="action_button">
              {{ object.settings.button_label | escape }}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
