{% comment %}
  Snippet can be used in section or blocks
  eg. {% include 'include-featured-product' %}
{% endcomment %}

{% if type == 'block' %}
  {% assign object = block %}
{% else %}
  {% assign object = section %}
{% endif %}

{% include 'product-structured-data' %}

<div class="container">

  {% if section.settings.title != blank %}
    <div class="sixteen columns">
      <h2 class="title">
        {{ section.settings.title | escape }}
      </h2>
      <div class="feature_divider"></div>
    </div>
  {% endif %}

  <div class="sixteen columns clearfix frontpage_product_stagger--{{ object.settings.frontpage_product_stagger }}">

    {%- assign product = all_products[object.settings.featured_product] -%}
    {%- assign collection_handles = product.collections | map: 'handle' -%}
    {% if product.empty? %}
      {%- assign section_onboarding = true -%}
    {% else %}
      {%- assign section_onboarding = false -%}
    {% endif %}

    <div class="product-{{ product.id }} section clearfix product_section thumbnail_position--{{ settings.thumbnail_position }} product_slideshow_animation--{{ settings.product_slideshow_animation }} grid-text-position--{{ object.settings.grid_text_position }}"
          data-thumbnail="{{ settings.thumbnail_position }}"
          data-slideshow-animation="{{ settings.product_slideshow_animation }}"
          data-slideshow-speed="{{ settings.slideshow_speed }}"
          data-block-id="{{ block.id }}"
          {{ block.shopify_attributes }}>

      {% if object.settings.grid_text_position == 'right' %}
        <div class="six columns offset-by-one featured-product-image">
          {% if section_onboarding %}
            {% capture i %}{% cycle "1", "2" %}{% endcapture %}
            {{ 'product-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--product' }}
          {% else %}
            {% include 'product-images' %}
          {% endif %}
        </div>
      {% endif %}

      <div class="seven columns {% if object.settings.frontpage_product_stagger %}{% cycle 'omega offset-by-one', '' %}{% else %}offset-by-one {% endif %} featured-product-info">
        {% if section_onboarding %}
          <h4 class="product_name title">
            <a href="{{ product.url }}">{{ 'homepage.onboarding.product_title' | t }}</a>
          </h4>
        {% else %}
          <h4 class="product_name title">
            <a href="{{ product.url }}">{{ product.title }}</a>
          </h4>

          {% if settings.enable_shopify_product_badges %}
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          {% endif %}

          {% if object.settings.display_vendor %}
            <p class="vendor">
              <span>{{ product.vendor | link_to_vendor }}</span>
            </p>
          {% endif %}
        {% endif %}

        {% if section_onboarding %}
          <p class="modal_price">
            <span class="current_price">
              $49.00
            </span>
          </p>
        {% else %}
          {% include 'size-chart-popup' %}

          {% if collection_handles contains 'coming-soon' %}
            <p class="modal_price">{{ 'collections.general.coming_soon' | t }}</p>
          {% else %}
            {% assign variant = product.selected_or_first_available_variant %}
            <p class="modal_price">
              <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
              <span class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
                <span class="current_price">
                  {% if variant.available %}
                    {% if variant.price > 0 %}
                      <span class="money">{{ variant.price | money }}</span>
                    {% else %}
                      {{ settings.free_price_text }}
                    {% endif %}
                  {% endif %}
                </span>
              </span>
              <span class="was_price">
              {% if variant.price < variant.compare_at_price %}
                <span class="money">{{ variant.compare_at_price | money }}</span>
              {% endif %}
              </span>
            </p>
          {% endif %}
        {% endif %}

        {% if object.settings.product_description_position == 'top' %}
          {% if section_onboarding %}
            <div class="description">
              <p>
                {{ 'homepage.onboarding.product_description' | t }}
              </p>
            </div>
          {% elsif object.settings.frontpage_display_description and product.description != blank %}
            <div class="description">
              {{ product.description | split: '<!-- split -->' | first }}
            </div>
          {% endif %}
          {% if object.settings.frontpage_display_description %}<hr />{% endif %}
        {% endif %}

        {% if section_onboarding %}
          <button type="submit" name="add" class="action_button add_to_cart" data-label={{ add_to_cart_label | json }}><span class="text">{{ 'products.product.add_to_cart' | t }}</span></button>
        {% else %}
          {% unless collection_handles contains 'coming-soon' %}
            {% include 'product-notify-me' %}
            {% include 'product-form' with 'product' %}
          {% endunless %}
        {% endif %}

        {% if object.settings.product_description_position == 'bottom' %}
          {% if object.settings.frontpage_display_description %}<hr />{% endif %}
          {% if section_onboarding %}
            <div class="description">
              <p>
                {{ 'homepage.onboarding.product_description' | t }}
              </p>
            </div>
          {% elsif object.settings.frontpage_display_description and product.description != blank %}
            <div class="description">
              {{ product.description | split: '<!-- split -->' | first }}
            </div>
          {% endif %}
        {% endif %}

      </div>

      {% if object.settings.grid_text_position == 'left' %}
        <div class="six columns offset-by-one featured-product-image">
          {% if section_onboarding %}
            {% capture i %}{% cycle "1", "2" %}{% endcapture %}
            {{ 'product-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--product' }}
          {% else %}
            {% include 'product-images' %}
          {% endif %}
        </div>
      {% endif %}

    </div>
  </div>
</div>
