{% comment %}
  Snippet can be used in section
  eg. {% include 'include-image-with-text' %}
{% endcomment %}
<style>
  {% for block in section.blocks %}
     #block--{{ block.id }} .m-top{
      margin-top: {{ block.settings.margin-top }}px;
    }

    #block--{{ block.id }} .collection_title{
      font-size: {{ block.settings.title-size }}px;
    }

    #block--{{ block.id }} .collection_subtitle{
     font-size: {{ block.settings.subtitle-size }}px;
     color: {{ block.settings.subtitle-color }};
    }
  {% endfor %}

</style>

{% if section.settings.grid_layout == false %}
  {% assign grid_layout = 'standard' %}
{% endif %}
<div class="image-with-text grid-layout--{{grid_layout}} {% if grid_layout == 'standard' %} container {% endif %}
            clearfix across-{{section.settings.featured_links_per_row}} ">
  {% if grid_layout == 'standard' %}<div class="sixteen columns">{% endif %}
    {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
        {% capture right_text %}
          <section id="block--{{ block.id }}" class="image-with-text--section image-with-text--image section-{{ forloop.index }}" {{ block.shopify_attributes }}>
            <div class="image-with-text--half image-with-text--image m-top">
              <div class="image-with-text--wrap">
                <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} title="{{ block.settings.title | escape }}">
                  {% if block.settings.image %}
                    <img  src="{{ block.settings.image | img_url: '300x' }}"
                          alt="{{ block.settings.image.alt | escape }}"
                          data-src="{{ block.settings.image | img_url: '2048x' }}"
                          class="lazyload lazyload--fade-in"
                          data-sizes="auto"
                          data-srcset=" {{ block.settings.image | img_url: '2048x' }} 2048w,
                                        {{ block.settings.image | img_url: '1600x' }} 1600w,
                                        {{ block.settings.image | img_url: '1200x' }} 1200w,
                                        {{ block.settings.image | img_url: '1000x' }} 1000w,
                                        {{ block.settings.image | img_url: '800x' }} 800w,
                                        {{ block.settings.image | img_url: '600x' }} 600w,
                                        {{ block.settings.image | img_url: '400x' }} 400w"
                          />
                  {% else %}
                    {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                    {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--promotions' }}
                  {% endif %}
                </a>
              </div>
            </div>
            <div class="image-with-text--half">
              <div class="info text-align--{{block.settings.frontpage_text_align}}">
                <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="collection_title">
                  {{ block.settings.title | escape }}
                </a>
                {% if block.settings.subtitle != blank %}
                  <h4 class="collection_subtitle">{{ block.settings.subtitle }}</h4>
                {% endif %}
                {% if block.settings.text != blank %}
                  <div class="description">{{ block.settings.text }}</div>
                {% endif %}
                {% if block.settings.button_label != blank %}
                  <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="action_button">
                    {{ block.settings.button_label | escape }}
                  </a>
                {% endif %}
              </div>
            </div>
          </section>
        {% endcapture %}
        {% capture left_text %}
            <section id="block--{{ block.id }}" class="image-with-text--section image-with-text--image section-{{ forloop.index }}" {{ block.shopify_attributes }}>
              {% if block.settings.anchor != blank %}
                <span class="anchor" id="{{ block.settings.anchor }}"></span>
              {% endif %}
              <div class="image-with-text--half">
                <div class="info text-align--{{block.settings.frontpage_text_align}}">
                  <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="collection_title">
                    {{ block.settings.title | escape }}
                  </a>
                  {% if block.settings.subtitle != blank %}
                    <h4 class="collection_subtitle">{{ block.settings.subtitle }}</h4>
                  {% endif %}
                  {% if block.settings.text != blank %}
                    <div class="description">{{ block.settings.text }}</div>
                  {% endif %}
                  {% if block.settings.button_label != blank %}
                    <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="action_button">
                      {{ block.settings.button_label | escape }}
                    </a>
                  {% endif %}
                </div>
              </div>
              <div class="image-with-text--half image-with-text--image m-top">
                <div class="image-with-text--wrap">
                  <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} title="{{ block.settings.title | escape }}">
                    {% if block.settings.image %}
                      <img  src="{{ block.settings.image | img_url: '300x' }}"
                            alt="{{ block.settings.image.alt | escape }}"
                            data-src="{{ block.settings.image | img_url: '2048x' }}"
                            class="lazyload lazyload--fade-in"
                            data-sizes="auto"
                            data-srcset=" {{ block.settings.image | img_url: '2048x' }} 2048w,
                                          {{ block.settings.image | img_url: '1600x' }} 1600w,
                                          {{ block.settings.image | img_url: '1200x' }} 1200w,
                                          {{ block.settings.image | img_url: '1000x' }} 1000w,
                                          {{ block.settings.image | img_url: '800x' }} 800w,
                                          {{ block.settings.image | img_url: '600x' }} 600w,
                                          {{ block.settings.image | img_url: '400x' }} 400w"
                              />
                    {% else %}
                      {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                      {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--promotions' }}
                    {% endif %}
                  </a>
                </div>
              </div>
            </section>
        {% endcapture %}
        {% if block.settings.grid_text_position == 'right' %}
          {{ right_text }}
        {% endif %}
        {% if block.settings.grid_text_position == 'left' %}
          {{ left_text }}
        {% endif %}

      {% endfor %}
    {% endif %}
  {% if grid_layout == 'standard' %}</div>{% endif %}
</div>
